[Unit]
Description=Python Script Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/sina/ansible_pb/main.py
Restart=always

[Install]
WantedBy=multi-user.target
